{% extends 'layout.html' %}
{% block title %} Register Page {% endblock %}


{% block content %}
    <form action="{% url 'user:register' %}" method="POST">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for error, error_text in form.errors.items %}
                    <p class="error">{{ error_text }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% if messages %}
            <div class="alert alert-success" role="alert">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.as_p }}
        <button>
            Register
        </button>
    </form>

{% endblock %}